.Page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mName{
    margin: 2%;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
}

.outputField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.callField{
 
}

.responseField{

}

.inputField{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    height: 20%;
}