@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c8494;
  --foreground: #b7eff3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #145153;
    --foreground: #aee6dd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
